{% extends "layout.html"%}
{%  block body %}
 <!-- Page Header -->
    {%set img_name='img/'+bpost.img_url+'.jpg'%}
    <header class="masthead" style="background-image: url(' {{url_for('static',filename=img_name)}}')">

    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{bpost.post_heading}}</h1>
            <h2 class="subheading">{{bpost.tagline}}</h2>
            <span class="meta">Posted by-
              <a href="#">satyam yadav</a>
              </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{bpost.content}}
          <p>Placeholder text by
            <a href="#">infotext</a>. Photographs by
            <a href="#">yadavStudio.com</a>.</p>
        </div>
      </div>
    </div>
  </article>

  <hr>
  {% endblock %}
 